# systemctl enable with full path to create link from /etc/systemd/system
[Unit]
Description=hexpop coverage service

[Service]
Type=idle
# create symbolic link to actual location
ExecStart=/usr/bin/python3 /usr/local/bin/covermap.py -x 7
Restart=always
RestartSec=900

[Install]
WantedBy=multi-user.target
